In [1]:
import pandas as pd

df = pd.read_csv(
    "/Users/joaoalmeida/Downloads/thyroid+disease/thyroid0387.data", header=None
)
df = df.replace("?", pd.NA)

In [2]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,29,F,f,f,f,f,f,f,f,t,...,f,<NA>,f,<NA>,f,<NA>,f,<NA>,other,-[840801013]
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,<NA>,f,<NA>,f,<NA>,other,-[840801014]
2,41,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,11,other,-[840801042]
3,36,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,26,other,-[840803046]
4,32,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,36,other,S[840803047]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,t,64,t,0.83,t,77,f,<NA>,SVI,-[870119022]
9168,22,M,f,f,f,f,f,f,f,f,...,t,91,t,0.92,t,99,f,<NA>,SVI,-[870119023]
9169,69,M,f,f,f,f,f,f,f,f,...,t,113,t,1.27,t,89,f,<NA>,SVI,I[870119025]
9170,47,F,f,f,f,f,f,f,f,f,...,t,75,t,0.85,t,88,f,<NA>,other,-[870119027]
9171,31,M,f,f,f,f,f,f,f,t,...,t,66,t,1.02,t,65,f,<NA>,other,-[870119035]

In [3]:
# Define the new column names in order
new_columns = [
    "age",
    "sex",
    "on thyroxine",
    "query on thyroxine",
    "on antithyroid medication",
    "sick",
    "pregnant",
    "thyroid surgery",
    "I131 treatment",
    "query hypothyroid",
    "query hyperthyroid",
    "lithium",
    "goitre",
    "tumor",
    "hypopituitary",
    "psych",
    "TSH measured",
    "TSH",
    "T3 measured",
    "T3",
    "TT4 measured",
    "TT4",
    "T4U measured",
    "T4U",
    "FTI measured",
    "FTI",
    "TBG measured",
    "TBG",
    "referral source",
    "patient id",
]

df.columns = new_columns
df.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,patient id
0,29,F,f,f,f,f,f,f,f,t,...,f,<NA>,f,<NA>,f,<NA>,f,<NA>,other,-[840801013]
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,<NA>,f,<NA>,f,<NA>,other,-[840801014]
2,41,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,11,other,-[840801042]
3,36,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,26,other,-[840803046]
4,32,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,36,other,S[840803047]

In [4]:
# Split the 'patient id' column into diagnosis and id parts
df[["diagnosis", "patient_id"]] = df["patient id"].str.extract(r"^(.*)\[(.*)\]$")
df.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,patient id,diagnosis,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,f,<NA>,f,<NA>,f,<NA>,other,-[840801013],-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,other,-[840801014],-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,t,11,other,-[840801042],-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,t,26,other,-[840803046],-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,t,36,other,S[840803047],S,840803047

In [5]:
df["diagnosis"].value_counts()

diagnosis
-      6771
K       436
G       359
I       346
F       233
R       196
A       147
L       115
M       111
N       110
S        85
GK       49
AK       46
J        30
B        21
MK       16
Q        14
O        14
C|I      12
KJ       11
GI       10
H|K       8
D         8
FK        6
C         6
P         5
MI        2
LJ        1
GKJ       1
OI        1
D|R       1
E         1
Name: count, dtype: int64

In [6]:
# Map diagnosis codes to main class groups
main_class_map = {
    "A": "hyperthyroid conditions",
    "B": "hyperthyroid conditions",
    "C": "hyperthyroid conditions",
    "D": "hyperthyroid conditions",
    "E": "hypothyroid conditions",
    "F": "hypothyroid conditions",
    "G": "hypothyroid conditions",
    "H": "hypothyroid conditions",
    "I": "binding protein",
    "J": "binding protein",
    "K": "general health",
    "L": "replacement therapy",
    "M": "replacement therapy",
    "N": "replacement therapy",
    "O": "antithyroid treatment",
    "P": "antithyroid treatment",
    "Q": "antithyroid treatment",
    "R": "miscellaneous",
    "S": "miscellaneous",
    "T": "miscellaneous",
    "-": "normal",
}

df["diagnosis_main_class"] = df["diagnosis"].map(main_class_map).fillna("multiple")
df["diagnosis_main_class"].value_counts()

diagnosis_main_class
normal                     6771
hypothyroid conditions      593
general health              436
binding protein             376
replacement therapy         336
miscellaneous               281
hyperthyroid conditions     182
multiple                    164
antithyroid treatment        33
Name: count, dtype: int64

In [7]:
df.drop(columns=["patient id", "diagnosis", "patient_id"], inplace=True)

In [8]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,diagnosis_main_class
0,29,F,f,f,f,f,f,f,f,t,...,f,<NA>,f,<NA>,f,<NA>,f,<NA>,other,normal
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,<NA>,f,<NA>,f,<NA>,other,normal
2,41,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,11,other,normal
3,36,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,26,other,normal
4,32,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,36,other,miscellaneous
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,t,64,t,0.83,t,77,f,<NA>,SVI,normal
9168,22,M,f,f,f,f,f,f,f,f,...,t,91,t,0.92,t,99,f,<NA>,SVI,normal
9169,69,M,f,f,f,f,f,f,f,f,...,t,113,t,1.27,t,89,f,<NA>,SVI,binding protein
9170,47,F,f,f,f,f,f,f,f,f,...,t,75,t,0.85,t,88,f,<NA>,other,normal
9171,31,M,f,f,f,f,f,f,f,t,...,t,66,t,1.02,t,65,f,<NA>,other,normal

In [ ]:
df.columns = df.columns.str.replace(" ", "_")
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,diagnosis_main_class
0,29,F,f,f,f,f,f,f,f,t,...,f,<NA>,f,<NA>,f,<NA>,f,<NA>,other,normal
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,<NA>,f,<NA>,f,<NA>,other,normal
2,41,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,11,other,normal
3,36,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,26,other,normal
4,32,F,f,f,f,f,f,f,f,f,...,f,<NA>,f,<NA>,f,<NA>,t,36,other,miscellaneous

In [10]:
import os

# Create the directory if it doesn't exist
output_dir = "synthetic_proxy_eval/data/thyroid"


# Save the dataframe as CSV
output_path = os.path.join(output_dir, "thyroid.csv")
df.to_csv(output_path, index=False)

print(f"Dataset saved to {output_path}")
print(f"Shape: {df.shape}")

Dataset saved to synthetic_proxy_eval/data/thyroid/thyroid.csv
Shape: (9172, 30)